QGroupBox {
    font: bold;
    border: 1px solid silver;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top; 
    left: 7px;
    padding: 0px 5px 0px 5px;
}

QTabWidget::tab-bar {
    alignment: center;
}
